@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    scroll-behavior: smooth;
}

:root {
    --black: #000;
    --white: #fff;
    --green: #62f500;
    --pink: #f5009f;
    --orange: #ff5c00;
    --yellow: #eaff00;
}

.laranja {
    color: var(--orange);
}

.amarelo {
    background-color: var(--yellow);
}

.main-wrapper {
    height: 100vh;
}

.bona-nova {
    font-family: "Bona Nova", serif;
}

.syne {
    font-family: "Syne", serif;
}