@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

:root {
    --black: #000;
    --white: #fff;
    --green: #62f500;
    --pink: #f5009f;
    --orange: #ff5c00;
    --yellow: #eaff00;
}

.playfair {
    font-family: "Playfair Display", serif;
}

.syne {
    font-family: "Syne", serif;
}